@font-face {font-family: "CiseauxMatisseW90-Cut-Out"; 
  src: url("/fonts/Ciseaux\ Matisse\ W90\ Cut-Out.woff2") format("woff2"), 
  url("/fonts/Ciseaux\ Matisse\ W90\ Cut-Out.woff") format("woff"), 
  url("/fonts/Ciseaux\ Matisse\ W90\ Cut-Out.ttf") format("truetype"), 
  url("/fonts/Ciseaux\ Matisse\ W90\ Cut-Out.svg") format("svg"); }

img {
  display: block;
  width: 100%;
}
